In [1]:
# write a python program that adds 2 numbers
9+34 # print()
# you please try with other arithmetic operators and submit in char box
# +,-,*,/,%,//,** on any 2 numbers like the above

43

In [2]:
34-9

25

In [3]:
7*7

49

In [4]:
9/3

3.0

### Literate programming
- Programming along with documentation is called literate programming

- print() is the pre-defined function used to display the output on the screen to user/programmer

In [5]:
9+5 # print() didn't used but we got the output
# syntax free nature of python

14

#### python program to display welcome message

In [6]:
print("welcome to python programming")

welcome to python programming

In [7]:
print('single quoted text')

single quoted text

In [9]:
print(''' triple quoted text''') # string data needs to be quoted
print(9+4) # integer data no need to be quoted

 triple quoted text
13

In [10]:
print("I am student from Padmavathi Mahila Visva Vidyalayam and my roll is",123)

I am student from Padmavathi Mahila Visva Vidyalayam and my roll is 123

In [11]:
# at a time you can print/display multiple outputs
9,"Ruthu",9.3 # groups the values together in tuple format

(9, 'Ruthu', 9.3)

In [14]:
# while printing multiple values together user can separate those items
print("Sandhya",123,'MCA')# single line output that shows no difference
print("Sandhya",123,'MCA','IIyear',sep=",")
print("Sandhya",123,'MCA','IIyear',sep=",",end=".")

Sandhya 123 MCA
Sandhya,123,MCA,IIyear
Sandhya,123,MCA,IIyear.

In [20]:
# similarly print the first character of your name as a dotted/marked line
# I should print R
print("  * *")
print("*     *")
print("*    *")
print("* *")
print("*   *")
print("*    *")

  * *
*     *
*    *
* *
*   *
*    *

# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

- plain text
- *italic* text in this line
- **bold** text
- ***italic bold*** text

#### Students Record
|Name|Roll|Branch|Year|
| --- | --- | --- | --- |
|Sandhya|123|MCA|2|
|Manasa|6004|MBA|3|
|Nagalakshmi|6013|MCA|3|

#### adding image in our technical document
- user have use <img> of HTML

<p style="color:red">Working with HTML in Markdown</p>

<img src="blue_nature.jpg" height=80px width=90px align='right'>

<img src="myself.jpeg" height=100px width=120px align=left></img>

#### Task 
- student has to prepare their resume with profile picture right side
- educational qualification as table
- technical skills line by line
- contact information

#### Keywords in python
- a keyword is a reserved word which has special meaning and purpose in the code
- There are 35 keywords in python

In [24]:
as - alias(user can import the module as a iterable )
and - logical operator
break - flow control statement
#bool() - predefined function
continue - flow control
del - deletes the var/item/iterable
def - function block
else- conditional
elif- conditional
except - exception handling keyword
for- loop
from -used while importing module
finally - exception handling
if - conditional
import - imports the module
in - membership operator
lambda - anonymous function
not - logical op'r
or- logical op'r
pass - flow control statement
raise - exception handling
return - used in function
try - exception handling
with - used while working with files
while - loop
yield - used function block
nonlocal - to declare the variable
global - to declare the variable

SyntaxError: invalid syntax (3364433844.py, line 1)

In [26]:
import keyword # imports the module in our file
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
process synchronization:assert,async,await