#### Key concepts
- Errors in python
- Variables

#### Errors in python
- set of valid instructions is called a program
- An invalid statement in the program called as an Error
    - **3types of Errors**
        1. Syntax Error
            - Error related to Syntax
            - Syntax means the programmer/user should follow the order/
                - statements used in the code/prgm should be valid
        2. Value Error and
            - keyword error,value error,file not found error, etc..
        3. Indendatation Error
            - Error related to space

<P>working with html</P>
<H3>Heading3</H3>

AND
and

In [1]:
#syntax error
print("Started with double quotes and ended with single quote')

SyntaxError: EOL while scanning string literal (68525557.py, line 2)

In [2]:
"Student"

'Student'

In [3]:
'student'

'student'

In [4]:
# write a python program to highlight the sub text/sub string in the line
# I am 'Sandhya' from PMVV
print("I am 'Sandhya' from PMVV")

I am 'Sandhya' from PMVV

In [5]:
PRINT()

NameError: name 'PRINT' is not defined

In [7]:
print('I am "Sandhya" from PMVV')
print(''' I am 'student' of PMVV''') #

I am "Sandhya" from PMVV
 I am 'student' of PMVV

#### Variables in python
- a reserved memory location to store the values/data
- A variable is a container that stores the data/values
- there is no type declaration in python
- let x=10:assigning the value 10 to the var x
- student='Manasa'

In [9]:
x=10
student='Manasa'
print("I am ",student,"and I got",x,"cgpa")
x,student

I am  Manasa and I got 10 cgpa

(10, 'Manasa')

In [11]:
 # + to separate the values/data in print()

In [16]:
# declaring multiple variables
# 2 values and 2 string data
f,s=10,15 # f=10 and s=15
st,fc='Nandini','Jyothi Mam'
m=10;n=15 # allowed,; means end
#i=20,j=25; not allowed

In [18]:
print(f,s,m,n)
print(st,fc)

10 15 10 15
Nandini Jyothi Mam

In [19]:
# equate the variable
# single to multiple variables
a=b=c=10
print(a,b,c)

10 10 10

In [20]:
int val=30 # error

SyntaxError: invalid syntax (2234061566.py, line 1)

#### Operators in python
- a symbol that performs an operation b/w 2 operands
    - EX:a+b
        - + is the op'r and a,b are the operands:summation op'n
- Types of operators
    1. Arithmetic operators
        - +,-,*,/,//,%,**
    2. Assignment
        - =,+=,*=(increment operators),-=,/=(decrement op'rs)
    3. Boolean
        - True,False,None
    4. Bitwise
        - |,&,^ (Bitwise xor),
    5. Comparisional/Relational
        - <,<=,>,>=,==
    6. Identity 
        - is,is not
    7. Logical
        - not,or,and
    8. Membership
        - in,not in
    9. Special 
        - sep,end seen in print()
    10. Unary Operators
        - it can perform on single operand
            - >>,<<(shift op'rs)
    11. Ternary Operator
        - a,b?c

#### Arithemtic Operators
- +,-,*,/,//,%,**

In [21]:
# Dynamic reading and
# type conversion of data

In [22]:
x # static data which is constant

10

#### Dynamic
 - input() which reads string data from the user/keyboard by default
 - int(input()) # explicit type casting/conversion
 - float(input()) # reads float data
 - **Type conversion**
     - conversion of data type of var/value from one format to another
     - 2types of conversions
         1. Implicit conversion
             - default conversion by the interpreter
         2. Explicit conversion
             - conversion by user/programmer

In [27]:
x

10

In [28]:
float(x)

10.0

In [29]:
bool(x)

True

In [30]:
#binary form of int value
bin(x)

'0b1010'

In [31]:
bin(10) # I am converting the int into binary

'0b1010'

In [32]:
bin(20) # explicit conversion

'0b10100'

In [33]:
10+40.5 # int ,float==>float-->implicit conversion

50.5

In [34]:
y='9'
z=10
print(y+z) # output ? 
# line by line : first y(str) z(int) +

TypeError: can only concatenate str (not "int") to str

In [35]:
print(int(y)+z) # by using +(concatenate 2 strs and add 2 integers)
# addition

19

In [36]:
print(y+str(z)) # concatenation results in string but not int

910

In [37]:
'9'+'10' #910 :str

'910'

In [38]:
'a'+'b'

'ab'

In [39]:
# * can perform product on integers and duplicate the string
9*5 # being an integers-->result is also an integers

45

In [40]:
9*'r' # duplication of 'r' 9 times

'rrrrrrrrr'

In [41]:
'i'*5

'iiiii'

In [42]:
5*9# a*b=b*a

45

In [49]:
#dynamic reading of data
nm="Yamini"
name=input("enter your name:") # to read the str :padmavathi
print(nm)
print(name)

enter your name:new name
Yamini
new name

In [50]:
name

'new name'

In [46]:
nm

'Yamini'

In [51]:
nm

'Yamini'

In [52]:
name

'new name'

In [54]:
# write a python program to read 2 numbers from user and perform all the
# arithmetic operations
val=int(input("first value:"))
second=int(input("second value:"))
print(val,second)
print("sum=",val+second)
print("difference=",val-second) # second-val
print("product=",val*second)
print("coefficient=",val/second)
print("exact coefficient=",val//second)
print("remainder=",val%second)
print("exponential=",val**second) # 9,5,9**5

first value:9
second value:5
9 5
sum= 14
difference= 4
product= 45
coefficient= 1.8
exact coefficient= 1
remainder= 4
exponential= 59049

In [57]:
9/5

1.8

In [58]:
9//5

1

In [59]:
5)9(1
  5
------
  4

SyntaxError: unmatched ')' (89485473.py, line 1)

In [65]:
 # shift operators
 # <<(increment),>>(decrement)-->unary operators
a=10 # int
print(a<<2) # how many positions I should move the value:40
# 10 to 40
print(a>>2) # 2 places to right

40
2

In [62]:
bin(10) # 8 digits

'0b1010'

In [63]:
1010 # 0000 1010-->00101000 (8 places to be filled)

1010

In [64]:
bin(40)

'0b101000'

In [66]:
# 00001010->000000 10-->2^(-1),26(-2)

##### Bitwise operators
- | (Bitwise or) &(Bitwise and) ^(Bitwise XOR)
- performing operation on each bit of the digit
- 1 byte = 8 bits
- 1 value=8 bits(0/1)

In [71]:
i,j=15,20
print(i|j) # or 
# Truth table OR/union
'''  0 =0
0 1 =1
1 0 =1
1 1=1 '''
print(i&j)
print(i^j)

31
4
27

In [68]:
bin(i),bin(j)

('0b1111', '0b10100')

In [ ]:
00001111
00010100
========
00011111====1+2+4+8+16=31
========
00000100===4
========= (opposite signs=1,same signs=0) Bitwise XOR
00011011===1+2+8+16=27